# backend/requirements.txt
fastapi
uvicorn[standard]
websockets
opencv-python
ultralytics
numpy
paho-mqtt
sqlalchemy
python-dotenv
Pillow
mediapipe
yt-dlp

pandas

# For MongoDB
motor==3.6.0
pymongo==4.9.2
python-multipart

# Auth
python-jose[cryptography]
bcrypt

# Testing
pytest
pytest-cov
httpx